.App {
  text-align: center;
}
#gif{
 position: relative;
 top:-300px;
}
#graph2{
  position: relative;
  right:-35%;
  top:-65%;
  z-index: -1;
  
}
#graph{
  z-index: 1;
}
#gif2{
 position: relative;
 top:-86%;
 right:-35%;
 
}
#login{
  position: relative;
  margin: 0 auto;
  margin-top: 5%;
  
}

#gif3{
  position: relative;
  top:-20rem;
  right:-5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#keyword{
  margin:0 auto;
  margin-top:5%;
}
#phase2-box{
  margin: 0 auto;
  margin-top: 4%;
}
#thumbsUp{
  height: 2%;
  margin-top: 3%;
}
#star{
  position: relative;
  top:-76%;
}
#score{
  position: relative;
  top:-87%;
  left:-35%;
}